<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <div th:replace="fragments/head :: head"></div>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<h1>DiveShop - List of Dives</h1>
<table class="table">
    <thead>
    <tr>
        <th> Date</th>
        <th> Location</th>
        <th> Duration</th>
        <th> Max Depth</th>
        <th> Water Conditions</th>
        <th> Safety Stop</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${dives.empty}">
        <td colspan="2"> No Dives Available</td>
    </tr>
    <tr th:each="dive : ${dives}">
        <td th:text="${dive.date}"/>
        <td th:text="${dive.location}"/>
        <td th:text="${dive.durationInMinutes}"/>
        <td th:text="${dive.maxDepthInMeters}"/>
        <td th:text="${dive.waterConditions}"/>
        <td th:text="${dive.safetyStop}"/>
    </tr>
    </tbody>
</table>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>