<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <div th:replace="fragments/head :: head"></div>
</head>
<body class="container">
<div th:replace="fragments/header :: header"></div>

<form>
    <div class="form-group">
        <label>Search for a dive</label>
        <input type="search" class="form-control" aria-describedby="searchHelp" placeholder="Enter location">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>